<div class="container mb-3 pb-3 border-bottom bg-white">
  <h1>Our Cocktails</h1>
  <%= link_to "Create new Cocktail", new_cocktail_path, class: "btn btn-primary"%>
</div>

<!-- app/views/articles/index.html.erb -->
<%= cl_image_tag("x8iluwga0a1ago3rmnld",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("jzqpdxhtivc3n33fplx8",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>

<div class="container justify-content-center d-flex flex-column">
<% @cocktails.each do |c| %>
  <div class="card bg-white p-3 m-3">
    <%= link_to c.name, cocktail_path(c) %>
  </div>
<% end %>
</div>
